{% extends "app/base.html" %}
{% load staticfiles %}

{% block js_yepnope_complete %}
	initLibrary();
{% endblock %}

{% block main_content %}
<div id="library">

</div>

<div id="library-overlay">
	<div class="overlay-body">
		<img src="{% static 'img/ajaxload.gif' %}" alt="" id="loadingindicator">
		<p>Loading</p>
	</div><!-- / -->
</div>


<div id="photodrag" class="photodrag">
	<div id="selectcount">
		<h3>0</h3>
	</div>
</div>

<div id="photodummy" class="photowrapper">
	<div class="photo" id="" big="" download="" caption="">
		<img class="thumb" id="" big="" download="" src="" alt="" />
		<div class="options">
			<a class="option-delete option-icon option-left" href="#" title=""><img src="{% static "img/bin.png" %}" alt=""></a>
			<a class="option-gallery option-icon option-middle" href="#" title=""><img src="{% static "img/magnifier.png" %}" alt=""></a>
			<a class="option-edit option-icon option-right" href="#" title=""><img src="{% static "img/pencil.png" %}" alt=""></a>
		</div>
	</div>
</div>

{% endblock %}

{% block main_title %}{{ module.title }}{% endblock %}
{% block title %}{{ module.title }}{% endblock %}