{% load staticfiles %}
<div class="section">
	<h1>Library</h1>
	<ul id="" class="">
		<li id="library_photos" class="library {% if module.name = "library_photos" %}current{% endif %}">
			<img src="{% static 'img/image.png' %}" alt="" class="icon">
			<a ajax="{% url api.views.photos_all %}" href="{% url library.views.library %}" title="">Photos</a>
			<img src="{% static 'img/house.png' %}" alt="This is your library :)" class="statusicon">
		</li>
		<li id="library_recent" class="library {% if module.name = "library_recent" %}current{% endif %}">
			<img src="{% static 'img/time.png' %}" alt="" class="icon">
			<a ajax="{% url api.views.photos_recent %}" href="{% url library.views.recent %}" title="">Recently Added</a>
		</li>
		<li id="library_share" class="{% if module.name = "library_share" %}current{% endif %}">
			<img src="{% static 'img/world.png' %}" alt="This album is public" class="icon">
			<a href="" title="">Share</a>
		</li>

	</ul>
</div>
<div class="section">
	<h1>Albums</h1>
	<ul id="albums">
		<li id="album_create_box_wrapper" class="album">
			<img class="icon" src="/static/img/album-icon.png"> 
			<a href="#" title=""><input id="album_create_box" class="textbox-borderless" type="text" ></a>
		</li>

		{% for album in albums %}
			{% if album.is_public %}
				{% include "snippets/album.html" with id=album.id name=album.name statusclass="statusicon-public" public="True" %}
			{% else %}
				{% include "snippets/album.html" with id=album.id name=album.name  %}
			{% endif %}
		{% endfor %}

		<li id="album_create" class="option">
			<img src="{% static 'img/add.png' %}" alt="" class="icon">
			<a href="#" title="">Create new</a>
		</li>
	</ul>
</div>
<div class="section">
	<h1>Services</h1>
	<ul id="" class="">
		<li class="{% if module.name = "services_facebook" %}current{% endif %}">
			<img src="{% static 'img/facebook-icon.png' %}" alt="" class="icon">
			<a href="" title="">Facebook</a>
		</li>
		<li class="{% if module.name = "services_flickr" %}current{% endif %}">
			<img src="{% static 'img/flickr-icon.png' %}" alt="" class="icon">
			<a href="" title="">Flickr</a>
		</li>
		<li class="{% if module.name = "services_imgur" %}current{% endif %}">
			<img src="{% static 'img/facebook-icon.png' %}" alt="" class="icon">
			<a href="" title="">Imgur</a>
		</li>
	</ul>
</div>