{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>PhotoStream :: {% block title %}Home{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'css/reset-min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
	<link rel="stylesheet" href="{% static 'css/toolbar.css' %}">
	<script src="{% static 'js/yepnope.1.5.3-min.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/jquery-1.7.1.min.js' %}" type="text/javascript"></script>

	<script type="text/javascript" charset="utf-8">

		$(document).ready(function() {
			yepnope([{
				load: [
					"{% static 'js/jquery-ui-1.8.18.custom.min.js' %}",
					"{% static 'js/jquery.multipleDraggables.js' %}",
					"{% static 'js/jquery.contextMenu.js' %}",
					"{% static 'js/store.js' %}",
					"{% static 'js/core.js' %}"
				]
			}, {
				load: [
					"{% static 'js/eventbindings.js' %}",
					"{% static 'js/library.js' %}",
					"{% static 'js/contextmenu.js' %}"
				],
				complete: function() {
					{% block js_yepnope_complete %}
					{% endblock %}
				}
			}]);


		});
	</script>
</head>
<body>
	<div id="wrapper">
		<div id="sidebar">
			{% include "sidebar.html" %}
		</div>
		<div id="main">
			<div class="title">
				<h1>{% block main_title %}Photos{% endblock %}</h1>
			</div>
			{% block main_content %}
			{% endblock %}
		</div>
		<div id="toolbar">

		</div>
		{% include 'contextmenu.html' %}
	</div>
</body>
</html>