<div id="photo-context-menu" class="context-menu">
	<ul>
		<li><a href="#caption" title="">Edit Caption</a></li>	
		<li><a href="#test" title="">Test Entry</a></li>	
		<hr>
		<li><a href="#delete" title="">Delete Photo</a></li>	
		<li><a href="#entry" title="">Test Entry</a></li>	
	</ul>
</div>

<div id="album-context-menu" class="context-menu">
	<ul>
		<li><a href="#rename" title="">Rename Album</a></li>	
		<li><a href="#delete" title="">Delete Album</a></li>	
		<hr>
		<li><a href="#public" title="">Make Public</a></li>	
		<li><a href="#share" title="">Share</a></li>	
	</ul>
</div>