{% load staticfiles %}
<div id="photo-context-menu" class="context-menu">
	<ul>
		<li><a href="#caption" title="">Edit Caption</a></li>	
		<li><a href="#test" title="">Test Entry</a></li>	
		<hr>
		<li><a href="#delete" title="">Delete Photo</a></li>	
		<li><a href="#entry" title="">Test Entry</a></li>	
	</ul>
</div>

<div id="album-context-menu" class="context-menu">
	<ul>
		<li><a class="contextmenu-action" id="context-album-makepublic" href="#context-album-makepublic" title="">Toggle Public</a></li>	
		<li><a class="contextmenu-action" id="context-album-copyurl" href="#context-album-copyurl" title="">Copy public url</a></li>	
		<hr>
		<li><a class="contextmenu-action" id="context-album-delete" href="#context-album-delete" title="">Delete Album</a></li>	
	</ul>
</div>