{% extends "base.html" %}
{% load staticfiles %}

{% block js_yepnope_complete %}
	initLibrary();
{% endblock %}

{% block main_content %}
<div id="library">

</div>

<div id="library-overlay">
	<div class="overlay-body">
		<img src="{% static 'img/ajaxload.gif' %}" alt="" id="loadingindicator">
		<p>Loading</p>
	</div><!-- / -->
</div>

<div id="photo-context-menu" class="context-menu">
	<ul>
		<li><a href="#caption" title="">Edit Caption</a></li>	
		<li><a href="#test" title="">Test Entry</a></li>	
		<hr>
		<li><a href="#delete" title="">Delete Photo</a></li>	
		<li><a href="#entry" title="">Test Entry</a></li>	
	</ul>
</div>
{% endblock %}

{% block main_title %}{{ module.title }}{% endblock %}
{% block title %}{{ module.title }}{% endblock %}