{% load staticfiles %}<!DOCTYPE html>
<html>
<head>
	<title>You don't have access to view this ressource</title>
	<link rel="stylesheet" href="{% static "css/noaccess.css" %}">
</head>
<body>
	<div id="wrapper">
		<img src="{% static "img/lock.png" %}" alt="">
		<h1>This ressource is password protected.</h1>
		
		{% if wrongpw %}
			<p class="caption error">The password you've entered was not correct. Please try again.</p>
		{% else %}
			<p class="caption">Please enter the password in the field below to get access to this album</p>
		{% endif %}
		<div class="passwordcontainer">
			<form action="{{ url }}" method="get" accept-charset="utf-8">
				<input type="text" name="password" value="">
				<input type="submit" value="Submit">
			</form>
		</div>
	</div>
</body>
</html>