{% load staticfiles %}
<div class="section">
	<h1>Library</h1>
	<ul id="" class="">
		<li id="library_photos" class="library {% if module.name = "library_photos" %}current{% endif %}">
			<img src="{% static 'img/image.png' %}" alt="" class="icon">
			<a ajax="{% url api.views.photos_all %}" href="{% url library.views.library %}" title="">Photos</a>
			<img src="{% static 'img/house.png' %}" alt="This is your library :)" class="statusicon">
		</li>
		<li id="library_recent" class="library {% if module.name = "library_recent" %}current{% endif %}">
			<img src="{% static 'img/recently-icon.png' %}" alt="" class="icon">
			<a ajax="{% url api.views.photos_recent %}" href="{% url library.views.recent %}" title="">Recently Added</a>
		</li>
		<li id="library_share" class="{% if module.name = "library_share" %}current{% endif %}">
			<img src="{% static 'img/share-icon.png' %}" alt="This album is public" class="icon">
			<a href="" title="">Share</a>
		</li>
	</ul>
</div>
<div class="section">
	<h1>Albums</h1>
	<ul id="albums">
		{% for album in albums %}
			{% if module.name == album.name %}
				<li id="{{ album.id }}" class="album current">
					<img src="{% static 'img/album-icon.png' %}" alt="" class="icon">
					<a ajax="{% url api.views.album id=album.id %}" href="{% url library.views.album id=album.id %}" title="">{{ album }}</a>
					{% if album.is_public %}
						<img src="{% static 'img/eye.png' %}" alt="This album is public." class="statusicon">
					{% else %}
						<img src="{% static 'img/none.png' %}" alt="" class="statusicon">
					{% endif %}
				</li>
			{% else %}
				<li id="{{ album.id }}" class="album">
					<img src="{% static 'img/album-icon.png' %}" alt="" class="icon">
					<a ajax="{% url api.views.album id=album.id %}" href="{% url library.views.album id=album.id %}" title="">{{ album }}</a>
					{% if album.is_public %}
						<img src="{% static 'img/eye.png' %}"  alt="This album is public." class="statusicon">
					{% else %}
						<img src="{% static 'img/none.png' %}" alt="None" class="statusicon">
					{% endif %}
				</li>
			{% endif %}
		{% endfor %}
		<li id="album_create" class="option"><a href="#" title="">Create new</a></li>
	</ul>
</div>
<div class="section">
	<h1>Services</h1>
	<ul id="" class="">
		<li class="{% if module.name = "services_facebook" %}current{% endif %}">
			<img src="{% static 'img/facebook-icon.png' %}" alt="" class="icon">
			<a href="" title="">Facebook</a>
		</li>
		<li class="{% if module.name = "services_flickr" %}current{% endif %}">
			<img src="{% static 'img/flickr-icon.png' %}" alt="" class="icon">
			<a href="" title="">Flickr</a>
		</li>
		<li class="{% if module.name = "services_imgur" %}current{% endif %}">
			<img src="{% static 'img/facebook-icon.png' %}" alt="" class="icon">
			<a href="" title="">Imgur</a>
		</li>
	</ul>
</div>