{% load staticfiles %}<!DOCTYPE html>
<html>
<head>
	<title>Uploader</title>
	<link rel="stylesheet" href="{% static "css/uploadify.css" %}">
	<script src="{% static "js/jquery-1.7.1.min.js" %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static "js/jquery.uploadify-3.1.min.js" %}" type="text/javascript" charset="utf-8"></script>
	<script src="https://raw.github.com/carhartl/jquery-cookie/master/jquery.cookie.js" type="text/javascript" charset="utf-8" ></script>
	<script type="text/javascript" charset="utf-8">
		$(function() {
			var sessionid = "{{session_key}}";

		    $('#file_upload').uploadify({
		        'swf'      : '{% static "etc/uploadify.swf" %}',
		        'uploader' : '/upload/',
		        // Put your options here
		        'debug': true,
		        'onUploadError' : function(file, errorCode, errorMsg, errorString) {
         		   console.info(errorMsg);
        		},
        		formData: {'{{session_cookie_name}}': '{{session_key}}'},
        		checkExisting: false,
		    });
		});
	</script>
</head>
<body>
	<input type="file" name="file_upload" id="file_upload" />
	<p>Sessionid: {{session_key}}</p>
</body>
</html>