{% load staticfiles %}<!DOCTYPE html>
<html>
<head>
	<title>Photolicious :: {% block title %}Home{% endblock %}</title>
	<link rel="stylesheet" href="{% static "css/website/style.css" %}">
	<script src="{% static 'js/jquery-1.7.1.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/website/script.js' %}" type="text/javascript"></script>
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<ul class="nav">
				<li class="active"><a href="{% url website.views.home %}" title="">Home</a></li>
				{% comment %}
					<li><a href="{% url website.views.pricing %}" title="">Pricing</a></li>
					<li><a href="{% url website.views.blog %}" title="">Blog</a></li>
					<li><a href="{% url website.views.notify %}" title="">Notify Me!</a></li>
				{% endcomment %}
				{% if user.is_authenticated %}
					<li><a id='nav_launchapp' class="important" href="{% url library.views.library %}" title="">Launch App</a></li>
					<li><a href="#{% url account.views.custom_login %}" title="">My Account</a></li>
					<li><a href="{% url account.views.custom_logout %}" title="">Logout</a></li>
				{% else %}
					<li><a href="{% url account.views.custom_login %}" title="">Beta Login</a></li>
				{% endif %}
			</ul>
		</div>
		<div id="content" class="{% block contentclass %}{% endblock %}">
			{% block content %}
			{% endblock %}
		</div>
		<div id="footer">
			&copy; 2012 - photolicious.im
		</div>	
	</div>
</body>
</html>
