{% extends "website/base.html" %}{% load staticfiles %}
{% block contentclass %}content-login{% endblock %}
{% block addHead %}<link rel="stylesheet" href="{% static "css/login.css" %}">{% endblock %}
{% block content %}
<h3 class="content-headline">Please enter your Login details</h3>
<div class="logincontainer">
	<div class="error">
		{% if error %}
			<p>{{ error }}</p>
		{% endif %}
	</div>
	<form action="/login/" method="post" accept-charset="utf-8">
	{% csrf_token %}
		<p><label>E-Mail:</label><input type="text" name="email" value="" placeholder=""></p>
		<p><label>Password:</label><input type="password" name="password" value="" placeholder=""></p>
		<input type="submit" name="" value="LogIn">
	</form>
</div>	
<p class="note-closedbeta">
	<b class="red">Please note:</b>  photolicious is currently in a closed beta state for testing. Means you can't use it right now. We hope to open it to the public soon! Just come back later :)
</p>
{% endblock %}