body {
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}

#wrapper {
	overflow: hidden;
	background: #e8eaf0;
}

#library {
	position: relative;
	z-index: 1;
	height: 1000px;
	padding-top: 10px;
	overflow-y: auto;
	overflow-x: hidden;
}

#library-overlay {
	display: none;
	top: 0;
	z-index: 2;
	width: 100px;
	height: 100%;
	position: absolute;
	background: url('../img/overlay-bg.png');
}

#main .title {
	background: url('../img/titlebar-bg.png');
	height: 36px;
}

#main .title h1 {
	position: relative;
	color: white;
	font-size: 20px;
	top: 5px;
}

#main .title .albumname {
	color: #5bd9f1;
}

#main .title .username {
	color: #e55c4a;
}

.photowrapper {
	width: 175px;
	display: inline-block;
	position: relative;
	margin: 7px;
}

.photo {
	-webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    1px 1px 6px rgba(0, 0, 0, 0.75);
	box-shadow:         1px 1px 6px rgba(0, 0, 0, 0.75);

	/*
	margin: 10px;
	min-height: 100px;
	max-height: 110px;
	width: 180px;
	*/
	display: inline-block;
	position: relative;
	margin: 0 auto;
}

.photo .thumb {
	/*
	width: 100%;
	max-height: 110px;
	*/
	max-height: 130px;
	max-width: 175px;
	display: block;
	margin: 0 auto;
}

.photo .options {
	transition: * 2s;
	-moz-transition: * 2s; /* Firefox 4 */
	-webkit-transition: * 2s; /* Safari and Chrome */
	-o-transition: * 2s; /* Opera */

	width: 100%;
	background: black;
	opacity: 0.5;
	position: absolute;
	bottom: 0;
	display: none;
}

.photo:hover .options {
	display: block;
}

.photo .options img {
	opacity: 1;
	position: relative;
	height: 13px;
}

.option-left {
	position: absolute;
	left: 5px;
}

.option-right {
	position: absolute;
	right: 5px;
}


.selected {
	margin: -3px;
	border: solid 3px yellow;
	border-radius: 0.4em;
}


.selection {
	position: absolute;
	border: 1px solid #89B;
	background: #BCE;
	background-color: #BEC;
	border-color: #8B9;
	z-index: 15;
	opacity: 0.65;
	-moz-opacity: 0.65;
	filter:alpha(opacity=65);
}

.overlay-body {
	top: 50%;
	font-weight: bolder;
	font-size: 20px;
	position: relative;
}

.selection-hover {
	margin: -3px;
	border: solid 3px yellow;
	border-radius: 0.4em;
}

.selection-action {
	border: solid 3px pink;
	border-radius: 0.4em;
}

.downloadlink {
	float: right;
	text-decoration: none;
	line-height: 22px;
}