.logincontainer {
	margin: 0 auto;
	width: 400px;
	text-align: center;
}

label {
	width:150px;    /*Or however much space you need for the form’s labels*/
    float:left;
    left: 30px;
    position: relative;
    font-weight: bold;
}
.error {
	color: red;
	text-align: center;
	font-size: 12px;
}

.btncontainer {
	text-align: right;
}

.logincontainer input {
	width: 200px;
}