#sidebar {
	width: 255px;
	float: left;
	background: #e8eaf0;
	font-size: 13px;
	position: fixed;
	overflow-y: auto;
}

.section {
	margin-bottom: 20px;
}

.section h1 {
	text-transform: uppercase;
	font-size: 10px;
	margin-top: 5px;
	margin-left: 5px;
	color: #02A1E6;
}

.section a {
	text-decoration: none;
	color: black;
	overflow: hidden;
	width: 182px;
	text-overflow: ellipsis;
	display: inline-block;
}

.section ul {
	padding-top: 5px;
	list-style-type: none;
}

.section li {
	/*
	background-image: url('../img/album-icon.png');
	background-repeat: no-repeat;
	background-position: 10px 5px;
	padding-left: 38px;
	*/

	padding: 1px 0 5px 20px;
	height: 19px;
	width: 235px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	position: relative;

	cursor: pointer;
}
.section li .icon {
	position: relative;
	top: 4px;
	width: 16px;
	height: 16px;
}

.section li .statusicon {
	position: absolute;
	right: 10px;
	top: 4px;
	height: 16px;
	width: 16px;
}

.section li:hover .statusicon { background-image: url('../img/bullet_wrench.png');}
.section li .statusicon-public { background-image: url('../img/eye.png');}
.section li .statusicon-loading { background-image: url('../img/ajaxload-small.gif');}
.section li .statusicon-tick { background-image: url('../img/tick.png');}
.section li .statusicon-edit { background-image: url('../img/bullet_wrench.png');}
.section li .statusicon-active { 
	-webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    1px 1px 8px rgba(0, 0, 0, 0.75);
	box-shadow:         1px 1px 8px rgba(0, 0, 0, 0.75);
}


.section .current {
	background: url('../img/current-bg.png');
	color: white;
}

.section .hover {
	background: url('../img/hover-bg.png');
}

.current a {
	color: white;
}

.option {
	margin-top: 0px;
	margin-bottom: -10px;
}

.option a {
	color: grey;
	font-weight: bold;
}

.textbox-borderless {
	border: none;
	background: #E8EAF0;
}

#album_create_box {
	width: 180px;
}

#album_create_box_wrapper {
	display: none;
}

