#sidebar {
	width: 255px;
	float: left;
	background: #e8eaf0;
	font-size: 13px;
	position: fixed;
}

.section {
	margin-bottom: 20px;
}

.section h1 {
	text-transform: uppercase;
	font-size: 10px;
	margin-top: 5px;
	margin-left: 5px;
	color: #02A1E6;
}

.section a {
	text-decoration: none;
	color: black;
}

.section ul {
}

.section li {
	padding: 4px 0 5px 20px;
	height: 16px;
}

.section .current {
	background: url('../img/current-bg.png');
}

.current a {
	color: white;
}

.option a {
	color: grey;
	font-weight: bold;
}

.stextbox {
	border: none;
	background: #E8EAF0;
}