body {
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}

#wrapper {
	overflow: hidden;
	background: #e8eaf0;
}

#main {
	position: relative;
	margin-left: 255px;
	border-left: 1px solid;
	background: #676767;
	text-align: center;
}

#library {
	position: relative;
	z-index: 1;
	height: 100%;
	padding-top: 10px;
	overflow-y: auto;
	overflow-x: hidden;
}

#library-overlay {
	display: none;
	top: 0;
	z-index: 2;
	width: 100px;
	height: 100%;
	position: absolute;
	background: url('../img/overlay-bg.png');
}

.overlay-body {
	top: 50%;
	font-weight: bolder;
	font-size: 20px;
	position: relative;
}

#main .title {
	background: url('../img/titlebar-bg.png');
	height: 36px;
}

#main .title h1 {
	position: relative;
	color: white;
	font-size: 20px;
	top: 5px;
}

.photo {
	margin: 10px;
	-webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    1px 1px 6px rgba(0, 0, 0, 0.75);
	box-shadow:         1px 1px 6px rgba(0, 0, 0, 0.75);
}

.photo:hover {


}

.selected {
	margin: -2px;
	border: solid 2px orange;
	border-radius: 1.0em;
}