body {
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}

#wrapper {
	overflow: hidden;
	background: #e8eaf0;
}

#main {
	position: relative;
	margin-left: 255px;
	border-left: 1px solid;
	background: #676767;
	text-align: center;
}

.context-menu {
	-webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    1px 1px 8px rgba(0, 0, 0, 0.75);
	box-shadow:         1px 1px 8px rgba(0, 0, 0, 0.75);

	top: 0;
	display: none;
	position: fixed;
	z-index: 10;
	background: url('../img/cmenu-bg.png');
	color: white;
	width: 150px;
	border-radius: 0.2em;

	padding: 10px 0;
	padding-bottom: -5px;
	border: solid 2px grey;
	text-align: center;

	font-size: 10px;
}

.context-menu hr {
	margin: 5px auto;
}

.context-menu a {
	color: #cecece;
	text-decoration: none;
	line-height: 20px;
}

.context-menu li {
	padding-left: 20px;
	text-align: left;
	cursor: pointer;
	position: relative;
}

.context-menu img {
	right: 15px;
	top: 5px;
	position: absolute;
}

.context-menu li:hover {
	background: url('../img/cmenu-current-bg.png');
}

.context-menu li:hover a {
	color: #d5dbe6;
}


#photodrag {
	display: none;
	position: absolute;
	border: 1px solid #89B;
	background: url('../img/drag-bg.jpg');
	border-color: #8B9;
	z-index: 15;
	width: 180px;
	height: 113px;

	opacity:0.6;
  	filter:alpha(opacity=60); /* For IE8 and earlier */
  	cursor: pointer;
}

#photodrag img {
	opacity: 0.4;
	-moz-opacity: 0.4;
	filter:alpha(opacity=4);
}

#photodrag #selectcount {
	background: url('../img/drag-circle.png');
	height: 61px;
	width: 61px;
	margin: 0 auto;
	position: relative;
	top: 24px;
	text-align: center;
}

#photodrag h3 {
	color: white;
	font-size: 26px;
	position: relative;
	top: 24%;
	display: block;
	margin: 0 auto;
}

#photodummy {
	display: none;
}