#toolbar {
	height: 47px;
	clear: both;
	width: 100%;
	position: fixed;
	bottom: 0px;
	background: url('../img/toolbar-bg.png');
	border-top: 1px solid;
	z-index: 5;

}

.userbox {
	padding: 0 10px;
	position: absolute;
	right: 10px;
	border: solid 1px darkgrey;
	background: url('../img/toolbar-bg.png');
	bottom: 5px;
}

.pressed {
	background: grey;
}

.userbox img {
	width: 30px;
	height: 30px;
}

.userbox .name {
	position: relative;
	bottom: 8px;
	font-size: 11px;
}

.usermenu {
	position: absolute;
	right: 10px;
	z-index: 2;

	border: solid 1px darkgrey;
	width: 130px;
	bottom: 41px;

	display: none;

	background: url('../img/cmenu-bg.png');
	padding: 10px;
}

.usermenu a {
	text-decoration: none;
	color: white;
}

.usermenu li {
	cursor: pointer;
	padding: 2px 0;
}

.usermenu li:hover a {
	color: blue;
}